body{
    background-image: url("images/les_tuques.jpg");
    font-family: 'Times New Roman', Times, serif;
}

h2{
    font-weight:bolder;
    color:darkblue;
}

.film{
    font-size:large;
    font-weight: bolder;
    color:blue;   
}
