body{
    background-image:url(images/lestuques2.jpg);
    background-size: cover;
    background-position: center;
    font-family: 'Times New Roman', Times, serif;
}

h2{
    font-weight:bolder;
    color:darkblue;
}

.film{
    font-size:large;
    font-weight: bolder;
    color:blue;   
}
