body{
    background-color: purple;
    background-image: url("/css/images/les_tuques.jpg");
    background-size: cover;
    background-position: left;
    font-family: 'Times New Roman', Times, serif;
}

h2{
    font-weight:bolder;
    color:darkblue;
}

.film{
    font-size:large;
    font-weight: bolder;
    color:blue;   
}
